# Чтение и запись данных, часть 2

## Домашнее задание 

### Описание домашнего задания и формат сдачи

Выполните предложенные задачи — впишите свой код в ячейки после комментария `### YOUR CODE HERE ###` и сохраните изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет и отправьте на проверку.

In [3]:
import pandas as pd
import urllib.request as req
import json
import sqlalchemy
import psycopg2
import pymongo

### Задача 1

Используя сервис MetaWeather узнайте, какая погода была в Лондоне 1 марта 2019 года. Для этого в первой ячейке определите идентификатор Лондона в этом сервисе, а во второй — запросите данные погоды. Обратите внимание, что сервис вернёт данные за несколько дней, а не только за 1 марта, в этой задаче это допустимо.

In [13]:
### YOUR CODE HERE ###
location = 44418

In [19]:
### YOUR CODE HERE ###
weather = req.urlopen(f"http://metaweather.com/api/location/{location}/2019/3/1/").read().decode('utf-8')

### Задача 2

Сохраните данные погоды, полученные в предыдущей задаче, в файл `weather.json`. При сохранении используйте четыре пробела для форматирования.

In [25]:
### YOUR CODE HERE ###
with open("weather.json", "w") as f:
    json.dumps(weather, f, indent=4)

### Задача 3

Загрузите содержимое файла `weather.json` в DataFrame и выведите первые пять строк DataFrame на экран.

In [26]:
### YOUR CODE HERE ###
df = pd.read_json("weather.json")
df.head()

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
0,4706336925286400,Showers,s,W,2019-03-01T21:59:01.944736Z,2019-03-01,7.593333,12.533333,12.055,4.989813,271.430734,1017.68,74,6.465989,73
1,5349522672713728,Showers,s,W,2019-03-01T18:57:01.981049Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
2,4529216366313472,Showers,s,W,2019-03-01T15:55:02.886405Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
3,4582457049350144,Showers,s,W,2019-03-01T12:53:01.886400Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
4,6272821925773312,Showers,s,W,2019-03-01T09:51:02.485187Z,2019-03-01,7.593333,12.533333,12.185,4.531242,271.430734,1017.18,75,7.897628,73

### Задача 4

Сохраните DataFrame из предыдущей задачи в файл `result.csv`. В качестве названия столбца-индекса используйте `index`.

In [28]:
### YOUR CODE HERE ###
df.to_csv("result.csv", index_label="index")

### Задача 5

Загрузите содержимое SQL-таблицы `ratings` в DataFrame. Выведите первые пять строк DataFrame на экран. Для подключения к БД используйте строку подключения, указанную в следующей ячейке.

In [30]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'
engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

df = pd.read_sql("select * from ratings", connect)
df.head()
### YOUR CODE HERE ###

   userid  movieid  rating   timestamp
0    4875      356     3.5  1172070060
1    4875      377     4.0  1172072518
2    4875      475     3.0  1172070238
3    4875      479     3.5  1172066458
4    4875      480     3.5  1172072504

### Задача 6

Сохраните первые 10000 записей датафрейма из предыдущей задачи в файл `result2.xlsx`, при сохранении задайте листу имя `MySheet`.

(Примечание: для указания имени листа в файле Excel как при чтении, так и при записи используется параметр `sheet_name`)

In [32]:
### YOUR CODE HERE ###
df.iloc[:10000].to_excel("result2.xlsx", sheet_name="MySheet")

### Задача 7

Определите количество документов в коллекции `users` в MongoDB. Если количество документов < 1000, то в следующей ячейке загрузите всё содержимое этой коллекции в список и выведите нулевой элемент этого списка на экран. Для подключения к MongoDB используйте строку подключения, указанную в следующей ячейке.

In [43]:
conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

connect = pymongo.MongoClient(conn)
db = connect['movies']
db['users'].find().count()

<ipython-input-43-d0f132f76196>:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  db['users'].find().count()

100

In [44]:
### YOUR CODE HERE ###
list(db['users'].find())[0]

{'_id': ObjectId('5cc69095067496679c74f7a4'),
 'user_id': 'ed5da480-57a2-489c-8e68-512155ab9892',
 'first_name': 'Жанна',
 'last_name': 'Петрова',
 'mail': 'zhanna_03816@gmail.com',
 'age': 20.0}

### Задача 8

Преобразуйте список всех документов коллекции `users` из предыдущей задачи в pandas DataFrame и сохраните его содержимое в файл `result3.xlsx`.

In [47]:
### YOUR CODE HERE ###
df = pd.DataFrame(list(db['users'].find()))
df.head()

df.to_excel("result3.xlsx")

## Дополнительные (необязательные) задачи

### Задача 9

Используя данные SQL-таблицы `ratings`, для каждого пользователя (столбец `userid`) определите средний рейтинг, который этот пользователь поставил фильмам. Результат выведите на экран. 

Группировку проведите двумя способами: с помощью `GROUP BY` в строке запроса к БД и с использованием метода `groupby` в pandas.

Для подключения к БД используйте строку подключения в следующей ячейке

In [ ]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

### Задача 10

Объедините таблицы `ratings` и `keywords` по столбцам `movieid` (используйте левое объединение). Объединение проведите двумя способами: с помощью `LEFT JOIN` в строке запроса к БД и с использованием метода `merge` в pandas. Результат объединения загрузите в DataFrame и сохраните в файл `result4.csv`.

Обратите внимание, что при объединении возможно дублирование столбцов. В результирующем датафрейме не должно быть таких дублированных столбцов.

In [ ]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

### Задача 11

Используя объединенную таблицу из предыдущего задания, найдите все идентификаторы фильмов с тегом `africa` (но не `south africa` или любые другие). Список тегов в формате JSON записан в столбце `tags`.

In [ ]:
### YOUR CODE HERE ###