In [1]:
import pandas as pd
import numpy as np
import math

df = pd.read_csv("churn_analysis.csv", index_col=0)
df.head()

,state,account_length,area_code,intl_plan,vmail_plan,vmail_message,day_mins,day_calls,day_charge,eve_mins,...,night_mins,night_calls,night_charge,intl_mins,intl_calls,intl_charge,custserv_calls,treatment,mes_estim,churn
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,1,0.65,False.
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,0,0.55,False.
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,0,0.72,False.
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,1,0.28,False.
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,2,0.45,False.

In [3]:
from scipy.stats import chi2_contingency

control_group = df[df["treatment"] == 1]

len(control_group)

1097

In [5]:
cg = control_group

#Выбираем штаты
states = pd.unique(cg["state"])
pairs = []

for i in range(len(states) - 1):
    for j in range(i+1, len(states)):
        pairs.append((states[i], states[j]))

len(pairs)

1275

In [6]:
cg["churn"] = cg["churn"].map(lambda x: True if x == "True." else False)
cg["churn"]

C:\bin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       False
3       False
8       False
12      False
17      False
        ...
3319    False
3322     True
3323     True
3325    False
3330    False
Name: churn, Length: 1097, dtype: bool

In [ ]:
#Q1
q1df = pd.DataFrame({"pairs": pairs})

subtable = []
chi2 = []
i = 0
for pair in pairs:
    a = len(cg[(cg["state"] == pair[0]) & (cg["churn"] == False)])
    b = len(cg[(cg["state"] == pair[0]) & (cg["churn"] == True)])
    c = len(cg[(cg["state"] == pair[1]) & (cg["churn"] == False)])
    d = len(cg[(cg["state"] == pair[0]) & (cg["churn"] == True)])
    subtable.append([[a,b],[c,d]])
    try:
        chi2.append(chi2_contingency([[a,b],[c,d]], correction=False))
    except:
        chi2.append(999)


q1df["subtable"] = subtable
q1df["chi2"] = chi2
    
q1df